version: '2'

services:
  pvm-demo:
    build: .
    # image: makasim/nginx-php-fpm:latest-all-exts
    environment:
      - MONGO_URI=mongodb://mongo:27017/payum_server
      - CUSTOM_DIR=/pvm/web
      - SYMFONY_ENV=dev
      - SYMFONY_DEBUG=true
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=pvm
      - MYSQL_USER=root
      - MYSQL_PASSWORD=rootpass
      - PAYPAL_USERNAME=EDITME
      - PAYPAL_PASSWORD=EDITME
      - PAYPAL_SIGNATURE=EDITME
    links:
      - mongo
      - mysql
    ports:
      - "80:80"
    volumes:
      - .:/pvm

  mysql:
    image: percona
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass

  mongo:
    image: mongo
