# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '%env(MYSQL_HOST)%'
    database_port: '%env(MYSQL_PORT)%'
    database_name: '%env(MYSQL_DATABASE)%'
    database_user: '%env(MYSQL_USER)%'
    database_password: '%env(MYSQL_PASSWORD)%'
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    mongodb.uri: '%env(MONGO_URI)%'
    mongodb.uri_options: {}
    mongodb.driver_options: {}
    mongodb.name: 'pvm-sandbox'

    paypal.express_checkout.username: '%env(PAYPAL_USERNAME)%'
    paypal.express_checkout.password: '%env(PAYPAL_PASSWORD)%'
    paypal.express_checkout.signature: '%env(PAYPAL_SIGNATURE)%'

    env(DB_PASSWORD): ~
    env(MYSQL_PORT): ~
    env(MYSQL_DATABASE): ~
    env(MYSQL_USER): ~
    env(MYSQL_PASSWORD): ~
    env(MONGO_URI): ~
    env(PAYPAL_USERNAME): ~
    env(PAYPAL_PASSWORD): ~
    env(PAYPAL_SIGNATURE): ~
