<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PVM Examples!{% endblock %}</title>
        <link rel="shortcut icon" href="/pvm-32x32-32x32-32x32.png" type="image/x-icon">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

            <style>
                pre code {
                    background-color: #eee;
                    border: 1px solid #999;
                    display: block;
                    padding-left: 20px;
                }
                .nav-pills .nav-link.active { background-color: #343a40 }
                .nav-pills .nav-link:not(.active) {
                    color: #343a40;
                }
                .navbar .nav-link:hover {
                    font-weight: bold;
                }
                .nav-pills .nav-link:not(.active):hover {
                    font-weight: bold;
                }

                .sidebar {
                    flex: 0 0 250px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img width="162" height="50" src="/pvm-3-415x128.png" alt="PVM Examples">
            </a>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/formapro/pvm">GITHUB</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://forma-pro.com/">BY FORMAPRO</a>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
