{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        /*.tab-content { padding: 20px }*/
    </style>
{% endblock %}

{% block body %}
    <ul>
        {% for example in examples %}
        <li>
            <h4><a href="{{ path('demo', {'exampleName': example.name }) }}">{{ example.title }}</a></h4>
            <p>{{ example.description|raw }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
